​
<div class="login">
  <div class="card login-wrap">
    <div class="card-body">
      <h3 class="card-title text-center">Log in</h3>
      <div class="card-text">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control form-control-sm"
              id="email"
              formControlName="username"
            />
            <div
              *ngIf="submitted && f.username?.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password?.errors?.required">Email is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control form-control-sm"
              id="password"
              formControlName="password"
            />
            <div
              *ngIf="submitted && f.password?.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password?.errors?.required">
                password is required
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-block"
            (click)="login()"
          >
            Login in
          </button>

          <div class="sign-up">
            Don't have an account?
            <a
              [routerLink]="['/create-user']"
              routerLinkActive="router-link-active"
              >Register</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
